.badge {
	font-size: 14px;
	line-height: 21px;
	border-radius: 2em;
	padding: 2px 7px;
	margin: 0 5px;
}

.red {
	background-color: red;
	color: white;
}

.blue {
	background-color: blue;
	color: white;
}

.balck {
	background-color: black;
	color: white;
}
