.tabs {
	margin-top: 16px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.tab {
	display: flex;
	border: none;
	background: transparent;
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
	margin-right: 10px;

	cursor: pointer;
}

.circle {
	text-align: center;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #bcbcbc;
	padding: 2px;
	font-size: 14px;
	line-height: 14px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 3px;
}
.selected {
	border-bottom: #fa4549 2px solid;
	font-weight: 600;
}
