.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 4px;
	cursor: pointer;
	align-items: flex-start;
}

.title:hover {
	color: #0969da;
}

.description {
	font-size: 12px;

	color: #57606a;
}
