.modal {
	width: 300px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background: #fff;

	position: absolute;
	z-index: 999;
	right: 0;
	top: 20px;
}
.header {
	padding: 7px 7px 7px 16px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
}
.header > span {
	flex-grow: 1;
	font-weight: 800;
	font-size: 12px;
}

.header > button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.inputWarp {
	width: 100%;
	padding: 10px;
}
.inputWarp > input {
	box-shadow: none;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
	padding: 6px 10px;
}
