.footer {
	margin-top: 40px;
	padding: 40px 32px;
	border-top: 1px solid #d0d7de;
	display: flex;
	justify-content: center;
	gap: 15px;
}
.footerItem {
	list-style: none;
	text-decoration: none;
}
.a {
	color: #58a0f3;
	text-decoration: none;
	font-size: 12px;
}

.a:hover {
	text-decoration: underline;
}
